# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# SQL / data dumps (optioneel)
*.db
*.sqlite
*.csv

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# distribution
dist/
build/
*.egg-info/

# data
*.json